# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS="xxx,xxx"
API_TOKEN_SALT=xxx
ADMIN_JWT_SECRET=xxx
TRANSFER_TOKEN_SALT=xxx
JWT_SECRET=xxx
ENCRYPTION_KEY=xxx

# Database
ECOMMERCE_CMS_DB_HOST=xxx
ECOMMERCE_CMS_DB_PORT=5432
ECOMMERCE_CMS_DB_SSL=xxx
ECOMMERCE_CMS_DB_USER=xxx
ECOMMERCE_CMS_DB_PASSWORD=xxx
ECOMMERCE_CMS_DB_NAME=xxx

# Default admin (optional) - created on startup when no admin exists
ADMIN_FIRSTNAME=xxx
ADMIN_LASTNAME=xxx
ADMIN_EMAIL=xxx
ADMIN_PASSWORD=xxx
